#home-top-spacing, #home-bottom-spacing {
    padding-bottom: 3%;
}

.widget-decoration {
    margin-left: 12.6%;
    margin-bottom: -40px;
    border-radius: 30px 30px 0px 0px;
    height: 90px;
    width: 220px;
    background-color: #9D9D9D; 
}

.gen-widget {
    -webkit-border: 0;
    -moz-border: 0;
    border: 0;
    border-radius: 25px;
    background-color: #C1C1C1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#playlist-logo, .small-playlist-logo {
    display: block;
    background-color: #EEEEEE;
    border-radius: 100%;
    margin: 1rem auto;
}

#playlist-logo {
    margin-top: 20px;
    height: 200px;
    width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#group-name {
    background: #A2A2A2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    padding: 5px;
    margin: 0 10px 0 10px;
}

#group-playlists-header {
    margin: 25px 0 -29px 10px;
    padding: 10px 0 30px 0;
    width: 150px;
    background: #E0E0E0;
    border-radius: 30px 30px 0px 0px;
}

.playlists {
    background: #A1A1A1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 0 10px 15px 10px;
}

.playlist {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 77px;
    border-bottom: 2px solid #7C7C7C;
}

.playlist:last-child {
    border-bottom: none;
}

.small-playlist-logo {
    height: 50px;
    width: 50px;
    background-color:#f3f3f3;
    margin: 14px 14px 14px 27px;
}

#player-top-container {
    background-color:rgb(184, 184, 184);
    border-radius:30px;
}

#player-widget-decor {
    margin-left: 1px;
}

#playlist-name {
    padding-top: 10px;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}

#song-details {
    background-color: lightgrey;
    border-radius:30px;
}

#player-buttons {
    background-color:lightgrey;
    border-radius:30px;
    margin: 14px 27px;
    background: linear-gradient(0deg, #E9E9E9, #E9E9E9), #E9E9E9;
}

#play-pause-btn {
    margin-left: 3px;
}

.playlist-name {
    margin-top: 27px;
    line-height: 28px;
    text-align: center;
}

#album-logo-vote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#album-logo {
    background-color: lightgray;
    border-radius: 10px;
    display: block;
    margin: 1rem auto;
    margin-right: 0;
    height: 200px;
    width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#vote-btns {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 20%;
    margin-right: 10px;
}

.audio-controls .col-md-4 {
    text-align: center;
}

#queue-button {
	background-color:#9b9b9b;
	border-radius:28px;
	border:1px solid #afafaf;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	padding:16px 42px;
	text-decoration:none;
	text-shadow:0px 1px 0px #646464;
}
#queue-button:hover {
	background-color:#bebebe;
}
#queue-button:active {
	position:relative;
	top:1px;
}

#slider-row {
    padding-top: 15px;
}

#song-name-tag {
    background: #A3A3A3;
    border-radius: 0px 0px 0px 30px;
    margin: 0 0 -8px -16px;
    text-align: center;
    padding-top: 7px;
}

#vol-slider {
    align-self: right;
}

.Home button {
    padding: 0 !important;
}

.audio-controls i {
    font-size: 2rem;
}

.vote {
    font-size: 30px;
}

#queue-widget-decor {
    margin-top: 10px;
    margin-bottom: -40px;
    height: 80px;
    width: 150px;
}

#queue-name {
    padding-top: 4px;
    padding-right: 10px;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

#queue-songs {
    margin: 0 -16px;
}

.queue-song {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 77px;
    border-bottom: 2px solid #7C7C7C;
}

.queue-logo {
    width: 60px;
    height: 60px;
    margin-left: 20px;
}

.queue-names {
    margin-top: 27px;
    padding-left: 10px;
    line-height: 28px;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.requester-opts {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: -29px;
}

.queue-dots {
    color: #FFF;
    font-size: 24px;
    margin-right: 15px;
    margin-top: -30px;
    padding-bottom: 26px;
}

.queue-requester {
    background: #989898;
    border-radius: 15px 15px 0px 0px;
    width: 90px;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

#queue-bottom-bar {
    margin: 10px -16px -8px -16px;
    height: 30px;
    background: #9B9B9B;
    border-radius: 0px 0px 30px 30px;
    text-align: right;
}

.switch-queue-pages {
    display: flex;
    flex-direction: row;
}

.switch-queue {
    margin-right: 20px;
    transform: rotate(-90deg);
}

.switch-queue {
    font-size: 30px;
}

#listening-widget-decor {
    margin-top: 10px;
    margin-bottom: -40px;
    height: 80px;
    width: 190px;
}

#listening-name {
    padding-top: 7px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

#listening-people {
    margin: 0 -16px; 
}

.listening-person {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 67px;
    border-bottom: 2px solid #7C7C7C;
}

.listening-person:last-child {
    border-bottom: none;
}



