#playlist-logo, .small-playlist-logo {
    background-color: lightgray;
    border-radius: 100%;
    display: block;
    margin: 1rem auto;
}

#playlist-logo {
    height: 100px;
    width: 100px;
}

.small-playlist-logo {
    height: 50px;
    width: 50px;
}

#album-logo {
    background-color: lightgray;
    border-radius: 10px;
    display: block;
    margin: 1rem auto;
    height: 200px;
    width: 200px;
}

.audio-controls .col-md-4 {
    text-align: center;
}

button {
    padding: 0 !important;
}

.audio-controls svg {
    font-size: 2rem;
}