.widget-decoration {
    margin-left: 65px;
    margin-bottom: -40px;
    border-radius: 30px 30px 0px 0px;
    height: 90px;
    width: 220px;
    background-color: #9D9D9D; 
}

.gen-widget {
    -webkit-border: 0;
    -moz-border: 0;
    border: 0;
    border-radius: 25px;
    background-color: #C1C1C1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#playlist-logo, .small-playlist-logo {
    display: block;
    background-color: #EEEEEE;
    border-radius: 100%;
    margin: 1rem auto;
}

#playlist-logo {
    margin-top: 20px;
    height: 200px;
    width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#group-name {
    background: #A2A2A2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    padding: 5px;
    margin: 0 10px 0 10px;
}

#group-playlists-header {
    margin: 25px 220px -29px 10px;
    padding: 10px 0 30px 0;
    background: #E0E0E0;
    border-radius: 30px 30px 0px 0px;
}

.playlists {
    background: #A1A1A1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 0 10px 15px 10px;
}

.playlist {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 77px;
    border-bottom: 2px solid #7C7C7C;
}

.playlist:last-child {
    border-bottom: none;
}

.small-playlist-logo {
    height: 50px;
    width: 50px;
}



#album-logo {
    background-color: lightgray;
    border-radius: 10px;
    display: block;
    margin: 1rem auto;
    height: 200px;
    width: 200px;
}

.audio-controls .col-md-4 {
    text-align: center;
}


#queue-button {
	background-color:#9b9b9b;
	border-radius:28px;
	border:1px solid #afafaf;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	padding:16px 42px;
	text-decoration:none;
	text-shadow:0px 1px 0px #646464;
}
#queue-button:hover {
	background-color:#bebebe;
}
#queue-button:active {
	position:relative;
	top:1px;
}

#slider-row {
    padding-top:15px;
}

#song-name-tag {
    background: #A3A3A3;
    border-radius: 0px 0px 0px 30px;
}

.Home button {
    padding: 0 !important;
}

.audio-controls i {
    font-size: 2rem;
}

.vote {
    font-size:30px;
}