
:root {
    --color1: #464C89;
    --color2: #CA95D7; 
    --color3: #EFD8EB;
    --color4: #BEE1E6;
    --color5: #C9FBD4;
    --color6: #4B8581;
    --color7: #FFFBEF; 
}

#body-container {
    background-color:var(--color7);
}

#upvote-btn{ 
    color:var(--color2);
}
#downvote-btn{
    color:var(--color2);
}

#home-top-spacing, #home-bottom-spacing {
    padding-bottom: 3%;
}

#leftmostBox {
    background-color:var(--color4);
}

.widget-decoration {
    margin-left: 12.6%;
    margin-bottom: -40px;
    border-radius: 30px 30px 0px 0px;
    height: 90px;
    width: 220px;
    background-color: var(--color3); 
    color: var(--color1);
}

.gen-widget {
    -webkit-border: 0;
    -moz-border: 0;
    border: 0;
    border-radius: 25px;
    background-color: #C1C1C1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#playlist-logo, .small-playlist-logo {
    display: block;
    background-color: #EEEEEE;
    border-radius: 100%;
    margin: 1rem auto;
}

#playlist-logo {
    margin-top: 20px;
    height: 200px;
    width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#group-name {
    background: var(--color5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    padding: 5px;
    margin: 0 10px 0 10px;
    color:var(--color1);
}

#group-playlists-header {
    margin: 25px 0 -29px 10px;
    padding: 10px 0 30px 0;
    width: 150px;
    background: var(--color2);
    border-radius: 30px 30px 0px 0px;
    color:var(--color1);
}


.playlists {
    background: var(--color5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 0 10px 15px 10px;
}

.playlist {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 77px;
    border-bottom: 4px solid var(--color6);
}

.playlist:last-child {
    border-bottom: none;
}

.small-playlist-logo {
    height: 50px;
    width: 50px;
    background-color:#f3f3f3;
    margin: 14px 14px 14px 27px;
}

#player-top-container {
    background-color:var(--color4);
    border-radius:30px;
}

#player-widget-decor {
    margin-left: 1px;
}

.playlist-name{
    color:var(--color1);
}

#playlist-name-title {
    padding-top: 10px;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: var(--color1);
}

#song-details {
    background-color: var(--color5);
    border-radius:30px;
}

#player-buttons {
    background-color:var(--color5);
    border-radius:30px;
    margin: 14px 27px;

}

#back-btn{
    color: var(--color2);
}
#forward-btn{
    color: var(--color2);
}
#play-pause-btn {
    margin-left: 3px;
    color: var(--color2);
}

.playlist-name {
    margin-top: 27px;
    line-height: 28px;
    text-align: center;
}

#album-logo-vote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#album-logo {
    background-color: lightgray;
    border-radius: 10px;
    display: block;
    margin: 1rem auto;
    margin-right: 0;
    height: 200px;
    width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#vote-btns {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 20%;
    margin-right: 10px;
}

.audio-controls .col-md-4 {
    text-align: center;
}

#queue-button {
	background-color:var(--color5);
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:var(--color1);
	font-size:21px;
	padding:16px 42px;
}
#queue-button:hover {
	background-color:var(--color6);
}
#queue-button:active {
	position:relative;
	top:1px;
}

#slider-row {
    padding-top: 15px;
}

#song-name-tag {
    background: var(--color5);
    color:var(--color1);
    border-radius: 0px 0px 0px 30px;
    margin: 0 0 -8px -16px;
    text-align: center;
    padding-top: 7px;
}

#vol-slider {
    align-self: right;
}

.Home button {
    padding: 0 !important;
}

.audio-controls i {
    font-size: 2rem;
}

.vote {
    font-size: 30px;
}

#queue-widget-decor {
    margin-top: 10px;
    margin-bottom: -40px;
    height: 80px;
    width: 150px;
}

#queue-box{
    background-color: var(--color4);
}

#queue-name {
    padding-top: 4px;
    padding-right: 10px;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

#queue-songs {
    margin: 0 -16px;
}

.queue-song {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 77px;
    border-bottom: 4px solid var(--color6);
}

.queue-logo {
    width: 60px;
    height: 60px;
    margin-left: 20px;
}

.queue-names {
    margin-top: 27px;
    padding-left: 10px;
    line-height: 28px;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color:var(--color1);
}

.requester-opts {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: -29px;
}

.queue-dots {
    color: #FFF;
    font-size: 24px;
    margin-right: 15px;
    margin-top: -30px;
    padding-bottom: 26px;
}

.queue-requester {
    background: var(--color6);
    border-radius: 15px 15px 0px 0px;
    width: 90px;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

#queue-bottom-bar {
    margin: 10px -16px -8px -16px;
    height: 30px;
    background: var(--color5);
    border-radius: 0px 0px 30px 30px;
    text-align: right;
}

#queue-right{
    color:var(--color2);
}
#queue-left{
    color:var(--color2);
}

.switch-queue-pages {
    display: flex;
    flex-direction: row;
}

.switch-queue {
    margin-right: 20px;
    transform: rotate(-90deg);
}

.switch-queue {
    font-size: 30px;
}

#listenerBox{
    background-color:var(--color4)
}

#listening-widget-decor {
    margin-top: 10px;
    margin-bottom: -40px;
    height: 80px;
    width: 190px;
}

#listening-name {
    padding-top: 7px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.person-name{
    color:var(--color1);
}

#listening-people {
    margin: 0 -16px; 
}

.listening-person {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 67px;
    border-bottom: 4px solid var(--color6);
}

.listening-person:last-child {
    border-bottom: none;
}

.playlist-button, .song-button {
    border: none;
    padding: 3px 15px 3px 15px;
    margin: 2px;
}

#queue-button-div {
    border-radius: 30px;
}

.popup-header {
    background:var(--color5);
    color:var(--color1);
    border-radius: 10px;
    text-align:center;
}

.playlist-songs{
    background:grey;
    color:var(--color1);
    border-radius: 10px;
    text-align:center;
    padding: 5px;
}

.popup-content {
    border-radius: 30px;
    background-color:var(--color4);
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    padding: 5px;
}

.popup-option {
    background-color:var(--color5);
    color:--var(color1);
}

.popup-arrow {
    color: #cfcfcf;
}

#themes-row{
    display:flex;
    justify-content: center;
}

#theme-button {
    background: var(--color5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width:300px;
    border-radius: 30px;
    font-weight: normal;
    font-size: 20px;
    line-height: 42px;
    padding: 5px;
    margin: 0 10px 0 10px;
    color:var(--color1);
}

.theme-option{
    background-color:white;
}

#very-bottom-spacing {
    padding-bottom: 30px;
}

